<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera vista</title>
</head>
<body>
    {% if ultimas_preguntas_hechas %}
    <ul>
    {% for pregunta in ultimas_preguntas_hechas %}
    <!-- Pregunta me da el registro completo de la base de datos, accedemos al atributo con pregunta.attrs -->

    <!-- La manera de hacer este Href esta bien pero cuando tenemos proyectos con muchas plantillas es mucho trabajo cambiar una por una, hay una manera de hacer esto mas facil con la variable 'name' en patch polls.urls.py -->

        <!-- <li><a href="/polls/{{ pregunta.id }}/vote/">{{ pregunta.question_text }}</a></li> -->

    <!-- Aca esta el ejemplo con 'name' -->

        <!-- <li><a href="">{{ pregunta.question_text }}</a></li>  SE TUVO QUE BORRAR EL CONTENIDO ACA PORQUE LA LINEA ACTUA ASI ESTE BAJO COMENT-->

    <!-- Obtenemos el mismo resultado haciendolo mas escalable y practico para cambiar a futuro -->

    <!-- Para diferenciar la url con otras que tengan el mismo name pero en otras apps tenemos qye agregar una variable en urls.py y modificar un poco nuestra plantilla asi:  -->

        <li><a href="{% url 'polls:ejemplo_name' pregunta.id %}">{{ pregunta.question_text }}</a></li>

    {% endfor %}
    </ul>
    {% else %}
        <p>No hay preguntas creadas</p>
    {% endif %}
</body>
</html>

<!-- Creamos documento una carpeta adicional llamada Polls para evitar colisiones con archivos que se llamen igual en otras carpetas templates -->

<!-- Acabamos de crear una vista que usa un template para mostrar una lista no ordenada de las preguntas hechas, usamos un bucle para iterar en la variable ultimas_preguntas_hecha que es una lista que toma todas las preguntas de la base de datos empezando desde la ultima creada, estas tienen un hypervinculo a las otras vistas que creamos (En este caso Vote) y varia segun el ID de la pregunta-->

